html {
    overflow: hidden;
}

body {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg);
    background-size: cover;
    background-position: center center;
}

.proto-container {
    position: absolute;
    top: 20%;
    height: 70%;
    z-index: 0;
    width: 100%;
}

.proto {
    border-top: 3px solid rgb(0, 64, 64);
    width: 19%;
    height: 80%;
    float: left;
    margin-left: 1em;
    transform: translateX(10%);
}

#myCanvas {
    position: relative;
    border: 2px solid #c7c8c9;
    border-radius: 10px;
}

.text-center {
    height: 100vh;
}
